#findLocation {
    margin-left: 10px;
    color: white;
}

#findLocation:hover {
    background-color: white;
    color: grey;
    border-color: white;
}

#getWeather {
    background-color: darkgrey;
    color: white;
}

#getWeather:hover {
    background-color: white;
    color: grey;
}

#header {
    font-weight: 600;
}

.weathertable {
    margin-top: 2em;
}
