<div class="container">
    <div class="row">
        <div ng-controller="userController">
            <form ng-submit="login()" name="login" class="form-login" ng-show="user == null">
                <input type="email" name="email" ng-model="email" placeholder="Email@Domain.com">
                <input type="password" name="password" ng-model="password" placeholder="Password">
                <input class="btn btn-primary" type="submit">
            </form>
            <p ng-hide="user == null">
                Logged in as {{user.email}}
            </p>
        </div>
    </div>
</div>
